<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#0C0C1E"
    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
        <td>
            <table style="max-width:670px;  margin:0 auto;" width="100%" border="0"
                align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                            style="max-width:670px;background:#1B2E3C; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:20px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;color:#F3E3E2;">
                                    <h1 style=" font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">Olá, <%= @resource.name %> (<%= @resource.email %>)!</h1></br><h2>Alguém solicitou mudança da sua senha.</h2>
                                    <span
                                        style="display:inline-block; vertical-align:middle; margin:15px 0; border-bottom:1px solid #F3E3E2; width:100px;"></span>
                                    <p style="color:#F3E3E2; font-size:15px;line-height:35px; margin:0; margin-top:10px">
                                        Não podemos simplesmente enviar sua senha antiga. Você precisa redefinir sua senha através do link gerado e seguir as instruções.
                                    </p>
                                    <a href="<%= "#{message['redirect-url']}?reset_password_token=#{@token}"%>"
                                        style="background:#74112F;text-decoration:none !important; font-weight:500; margin-top:35px; margin-bottom:35px; color:#F3E3E2;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Mudar senha</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color:#F3E3E2; font-size:13px;line-height:24px; margin:0;">Se você não solicitou isso, ignore este e-mail.</p>
                                    <p style="color:#F3E3E2; font-size:13px;line-height:24px; margin:0;">Sua senha não mudará até que você acesse clique no botão acima e crie uma nova.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:20px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p style="font-size:14px; color:#F3E3E2; line-height:18px; margin:0 0 0;">&copy; <strong>Bootcamp - OneBitCode</strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>